<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add a New Dog</title>
  </head>
  <body>
    <h1>Add a new dog</h1>
    <form action="/dogs" method="POST">
      <label for="name">Name:</label><br />
      <input type="text" id="name" name="name" required /><br />
      <label for="breed">Breed:</label><br />
      <input type="text" id="breed" name="breed" required /><br />
      <label for="isGoodBoy">Is A Good Boy/Girl?</label>
      <input type="hidden" id="isGoodBoy" value="false" />
      <input
        type="checkbox"
        id="isGoodBoy"
        name="isGoodBoy"
        value="true"
      /><br /><br />
      <button type="submit">Create</button>
    </form>
    <br />
    <a href="/dogs">Back to full list</a>
  </body>
</html>
